#backend
fastapi>=0.136
uvicorn>=0.44.0
python-multipart>=0.0.26 #for handling file uploads in FastAPI (optional)

#database
sqlalchemy>=2.0.49
alembic>=1.18.4
asyncpg>=0.31.0
psycopg2-binary>=2.9.11

#config
python-dotenv>=1.2.2

#validate
email-validator>=2.3.0

#authentication
passlib[bcrypt]>=1.7.4
bcrypt==4.0.1
python-jose>=3.5.0

#machine learning
scikit-learn>=1.8.0

#linting
ruff>=0.15.11

#testing
pytest>=9.0.3
pytest-asyncio>=1.4.0
httpx>=0.28.1
